html{
  background-color: blue !important;
}


div#mw-revision-nav {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 500px;
}

.mw-revision-nav_button {
    border: 1px solid #BBBBBB;
    padding: 5px;
    border-radius: 3px;
}

.mw-revision-nav_button:hover {
    border: 1px solid rgb(166, 166, 166);
    text-decoration: none;
    /*background-color: #FAFAFA;*/
    color: #032762;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}